@using System.Globalization
@model IEnumerable<Gig>

@{
    ViewBag.Title = "Home Page";
}



<ul class="gigs">
    @foreach (var gig in Model)
    {
        <li>
            <div class="gigs-date">
                <div class="gigs-date-month">
                    @gig.DateTime.ToString("MMM", DateTimeFormatInfo.InvariantInfo)
                </div>
                <div class="gigs-date-day">
                    @gig.DateTime.ToString("d ", DateTimeFormatInfo.InvariantInfo)
                </div>
            </div>
            <div class="gigs-detail">
                <span class="gigs-artist">
                    @gig.Artist.Name
                </span>
                <span class="gigs-genre">
                    @gig.Genre.Name
                </span>
            </div>
        </li>
    }
</ul>