/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

    a.header {
        color: #ffffff;
    }

        a.header:hover {
            background-color: #ecb3059e;
        }

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.navbar {
    padding: 0rem 3rem;
}

.nav-item {
    line-height: 2;
    font-size: 1.2rem;
    font-weight: bold;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    font-family: "Roboto Condensed";
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        font-family: "Roboto Condensed";
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

span.field-validation-error {
    color: red;
    font-weight: bold;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    font-family: "Roboto Condensed";
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: "Roboto Condensed";
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.margin-right-1 {
    margin-right: 20px;
}

.div-split-left {
    width: 50%;
}

.form-group {
    margin-bottom: 25px;
}

.form-control:focus {
    border-color: #25cde0;
    box-shadow: none;
}

label {
    font-weight: bold;
}

.pb-3 {
    margin-top: 30px;
}

.btn {
    /*padding: .375rem 1rem;*/
}


.dropdown-menu {
    background-color: #ffc107aa;
}

.no-bullet {
    list-style-type: none;
    padding-inline-start: 0px;
}

.gigs {
    list-style-type: none;
}
    /*Page-level styles*/
    .gigs > li {
        position: relative;
        margin-bottom: 30px;
    }

        .gigs > li .gigs-date {
            background: red;
            color: white;
            text-align: center;
            width: 60px;
            border-radius: 8px;
        }

            .gigs > li .gigs-date .gigs-date-month {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: bold;
                padding: 2px 6px;
            }

            .gigs > li .gigs-date .gigs-date-day {
                background-color: #f7f7f7;
                color: #333;
                font-size: 20px;
                padding: 6px 12px;
            }


        .gigs > li .gigs-detail {
            position: absolute;
            top: 0;
            left: 70px;
        }

            .gigs > li .gigs-detail .gigs-artist {
                font-weight: bold;
                display: block;
            }

            .gigs > li .gigs-detail .gigs-genre {
                font-size: 15px;
                vertical-align: middle;
            }

            .gigs > li .gigs-detail .btn {
                margin-left: 5px;
                padding: 0.1rem 0.4rem;
            }
                
